<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Logueate como admin!</h1>
    <p>Bienvenid@, por favor ingrese sus credenciales</p>

    
    <form action='/admin' method='post'>
      
        <input  type='text' name='nombre' id='nombre' placeholder="nombre" >
        <input  type='submit'  value='enviar'>

    </form>
  </body>
</html>