h3{
    font-size: 20px;
}
body{
    border-left: 2px solid orange;
    padding-left: 15px;
    border-right: 2px solid orange;
}

.enviar{ 
    color: white;
    background-color: orange;
    width: 300px;
    border-radius: 12px;

}

.reset{ 
    color: white;
    background-color: orange;
    width: 300px;
    border-radius: 12px;

}